.bg-custom {
    background-color: white;
}

.nav-link {
/*    color: red!important;*/
    font-family: Roboto;
    font-weight: bold;
    margin-left: 30px;
}

@media (max-width: 992px){
    .nav-link {
        margin-left : 0px;
    }
}

.navbar-light .navbar-nav .active>.nav-link {
    background-color: yellow!important;
/*    color: yellow!important;*/
}

.carousel-caption {
    top: 0;
    bottom: auto;
}


h2 {
    font-weight: 400;
    font-size: 1.5em;
    letter-spacing: 3px; 
    margin-top: 20px;
}


#slider_logo {
        max-width: 100%;
}

#slider_main_text {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.content-section {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

h3 {
    color: red;
}

p {
    color: #9f9a97;
    padding-bottom: 0rem!important;
}

button {
    background-color: #ff7e66;
    color: white;
    border-radius: 0 !important;
    padding: 20px;
}

#left_cooking {
    margin: 0;
    padding: 0;
}

.cooking-text {
    background-color: #fff2ed;
    padding: 3rem;
}

.p-0 {
    padding: 1rem;
}

h4 {
    font-family: Roboto;
    font-weight: 600;
    color: #ff7e66;
}

.table-img {
    min-height: 30rem;
    background-size: cover;
}


/*
@media (max-width: 600px) {
    .table-img {
    min-height: 374px;

    }
}
*/

.services {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

h5 {
    font-family: Roboto;
    font-weight: 600;
    padding-top: 10px;
}

#center-icon {
    
}